.background {
  padding: 20px;
  width: 100%;
  height: 91vh;
}

.tabContainer {
  margin-top: 10px;
  .button {
    border-radius: 0 !important;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.11);
    border-right: 1px solid rgba(0, 0, 0, 0.11);
    border-left: 1px solid rgba(0, 0, 0, 0.11);
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  }
  .buttonLast {
    border-radius: 0 !important;
    width: 100%;
    padding-left: 1.5rem;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.11);
    border-left: 1px solid rgba(0, 0, 0, 0.11);
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  }
  .active {
    background-color: rgb(230, 172, 75);
    color: white;
  }
}

.orderContainer {
  margin-top: 10px;

  .personalCard {
    background-color: #ffffff !important;
    border: 1px solid #ca7658;
    border-radius: 0 !important;
    .cardBody {
      padding: 0;

      .titleBox {
        padding: 10px 15px 10px 15px;
        background-color: #ca7658;
        color: white;
        .p{
          margin: 0;
        }
      }

      .dataBox {
        padding: 5px 15px 5px 15px;
      }
    }

    .storeBtn {
      text-decoration: none;
      width: 9rem;
      height: 2rem;
      text-align: center;
      color: #ffffff;
      background-color: #f86363;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .orderCard {
    background-color: #ffffff00 !important;
    border: none !important;

    .order {
      border: 1px solid #ca7658;
      background-color: #ffffff;
      margin: 12px 0 12px 0;

      .pBox {
        height: 2rem;
        background-color: #ca7658;
        display: flex;
        align-items: center;
        .p {
          color: white;
          margin: 0 0 0 10px;
        }
      }
      .imgBox {
        width: 5rem;
        height: 5rem;
        overflow: hidden;

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .detailText {
        width: 85%;
      }

      .hr {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
      }

      .orderItemPrice {
        background-color: #eee;
        width: 98%;
        display: flex;
        padding: 8px;
        border-radius: 8px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .searchOrder {
      border: 1px solid #ca7658;
      background-color: #ffffff;
      margin: 8px 0 8px 0;
    }
  }
}
